body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.line {
  fill: rgb(10, 35, 55);
  stroke: steelblue;
  shape-rendering: optimizeSpeed
}

.yaxis {
  fill: none;
  /* stroke: black; */
  stroke: rgb(35, 33, 33);
  stroke-width: 1;
}

.xaxis {
  fill: white;
  /* stroke: black; */
  stroke: rgb(246, 239, 239);

  stroke-width: 1;
}